# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Test binary, built with `go test -c`
*.test

# Dependency directories (remove the comment below to include it)
__debug_bin

# environment
*.env
*.txt
*.log